<robot name="sensor_suite">

  <link name="base_link" />
  <link name="lidar_link" />
  <link name="imu_link" />

  <link name="wt61c_uart" />
  <link name="velodyne" />

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="velodyne_joint" type="fixed">
    <parent link="lidar_link" />
    <child link="velodyne" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="imu_link_joint" type="fixed">
    <parent link="lidar_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="wt61c_uart_joint" type="fixed">
    <parent link="imu_link" />
    <child link="wt61c_uart" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>